header {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    /* border: 2px solid blue; */
    gap: 1rem;
}

input {
    width: 30%;
    height: 5vh;
}

img{
    width: 30vw;
}

.flex-container {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 6rem;
}